---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import '../styles/globals.css'

import ReactLogo from '@/assets/logos/react.svg'
import TSLogo from '@/assets/logos/typescript.svg'
import NodeLogo from '@/assets/logos/node-js.svg'
---

<!-- <About /> -->
<Layout>
    <div
        class='space-y-8 rounded-2xl border border-slate-200 bg-secondary-background p-6 shadow my-6'
    >
        {/* Intro */}
        <div class='space-y-3'>
            <h1 class='flex items-center gap-2 text-2xl font-bold'>Hey 👋</h1>
            <p class='leading-relaxed'>
                I'm <span class='font-semibold'>Ajvad Laseen</span>, a
                full-stack developer currently working in{' '}
                <span class='font-medium'>Dubai 🇦🇪</span>.
            </p>
            <p class='leading-relaxed'>
                For the past <strong>4+ years</strong>, I've been living in the
                world of Full Stack Development where the main tools in my
                arsenal were:
            </p>
            <ul class='mt-3 space-y-2'>
                <li class='flex items-center gap-2'>
                    <Image class='w-5' src={ReactLogo} alt='React' />
                    <strong>React</strong>
                </li>
                <li class='flex items-center gap-2'>
                    <Image class='w-5' src={TSLogo} alt='TypeScript' />
                    <strong>TypeScript</strong>
                </li>
                <li class='flex items-center gap-2'>
                    <Image class='w-5' src={NodeLogo} alt='Node.js' />
                    <strong>Node.js</strong>
                </li>
            </ul>
        </div>

        {/* Industries */}
        <div class='flex flex-row space-y-3'>
            <div class='flex items-start gap-2 leading-relaxed'>
                <p>
                    I've had the pleasure to work across a bunch of industries,
                    from{' '}
                    <span class='font-bold'>Construction</span> to{' '}
                    <span class='font-bold'>HR</span>,{' '}
                    <span class='font-bold'>Real Estate</span>, and even{' '}
                    <span class='font-bold'>Hospitality</span>. Every project
                    taught me something new and each of them came with its own
                    set of wild challenges.
                </p>
            </div>
        </div>

        {/* Motivation */}
        <div class='space-y-3'>
            <p class='flex items-start gap-2 leading-relaxed'>
                At the end of the day what really makes me happy is building
                software that actually makes people's lives easier and my
                learning deeper.
            </p>
        </div>

        {/* Conclusion */}
        <div class='space-y-3'>
            <p class='flex items-start gap-2 leading-relaxed'>
                Feel free to explore and check out my work, skills, and
                projects. And you can reach out to me for anything related to
                the above or just a quick chat.
            </p>
        </div>
    </div>
</Layout>
