---
import Layout from '@/layouts/Layout.astro'
import Marquee from '@/components/ui/marquee'
---

<Layout>
    <div class='w-full p-12'>
        <h1 class='text-5xl font-extralight text-center'>Coming Soon...</h1>
    </div>
</Layout>
