---
import Layout from '@/layouts/Layout.astro'
import Marquee from '@/components/ui/marquee'
---

<Layout>
    <div class='w-full'>
        <Marquee items={['Coming Soon', 'Coming Soon', 'Coming Soon']} />
    </div>
</Layout>
