---
import Layout from '@/layouts/Layout.astro'
import { Card, CardContent } from '@/components/ui/card'
---

<Layout
    title='Projects'
    description='A collection of Ajvad Laseen’s projects, showcasing technical skills, problem-solving approaches, and the technologies used to bring ideas to life'
>
    <div class='relative mx-auto py-8 px-4 lg:px-0'>
        <Card className='bg-secondary-background'>
            <CardContent>
                <div class='w-full p-12'>
                    <h1 class='text-5xl font-extralight text-center'>
                        Coming Soon...
                    </h1>
                </div>
            </CardContent>
        </Card>
    </div>
</Layout>
