---
import ExperienceTimeline from './ExperienceTimeline.astro'
import { Tabs, TabsContent, TabsList, TabsTrigger } from './ui/tabs'
import Skills from './Skills'
import Projects from './Projects'
import AboutMe from './About.astro'
---

<div class='mx-auto flex max-w-3xl'>
    <Tabs defaultValue='AboutMe' className='w-full'>
        <TabsList className='grid w-full grid-cols-4'>
            <TabsTrigger value='AboutMe'>About Me</TabsTrigger>
            <TabsTrigger value='ExperienceTimeline'> Experience </TabsTrigger>
            <TabsTrigger value='skills'>Skills</TabsTrigger>
            <TabsTrigger value='projects'>Projects</TabsTrigger>
        </TabsList>

        <div class='mx-8 my-16'>
            <TabsContent value='AboutMe'>
                <AboutMe />
            </TabsContent>
            <TabsContent value='ExperienceTimeline'>
                <ExperienceTimeline />
            </TabsContent>
            <TabsContent value='skills'>
                <Skills />
            </TabsContent>
            <TabsContent value='projects'>
                <Projects />
            </TabsContent>
        </div>
    </Tabs>
</div>
